:root {
  --maroon: #970747;
  --cream: #fef4e8;
  --blue: #13445a;
  --green: #446878;
}

@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");
body {
  min-height: 100vh;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--maroon);
  /*background: url("../img/bg.jpg") top center no-repeat;*/

  background: url(../img/RG_006_D.png);
  background-size: cover;

  background-repeat: no-repeat;

  position: relative;
}

/**snow*/
#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}
/**snow*/

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #24b7a4;
}

a:hover {
  color: #36d8c3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.Coming_soon {
  font-family: "Eczar", serif;
}

#main {
  position: relative;
}
.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 12rem;
  width: 14rem;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #24b7a4;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #21aa99;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  padding: 20px 0;
  /* countdown */
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 46px;
  color: var(--maroon);
}

#header h2 {
  color: var(--maroon);
  margin-bottom: 40px;
  font-size: 22px;
}

#header .countdown {
  margin-bottom: 70px;
}

#header .countdown div {
  text-align: center;
  border: 2px solid rgba(163, 3, 3, 0.8);
  border-radius: 8px;
  margin: 10px 10px;
  width: 100px;
  padding: 15px 0;
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
}

#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #header .countdown {
    margin-bottom: 20px;
  }
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

#header .subscribe {
  font-size: 15px;
  text-align: center;
}

#header .subscribe h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--maroon);
  position: relative;
  padding-bottom: 12px;
}

#header .subscribe .subscribe-form {
  min-width: 300px;
  margin-top: 10px;
  background: #fff;
  border: 2px solid var(--green);
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
}

#header .subscribe .subscribe-form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#header .subscribe .subscribe-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  font-weight: bolder;
  background: var(--green);
  color: var(--cream);
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .subscribe .subscribe-form input[type="submit"]:hover {
  background:var(--cream);
  color:var(--green);
}

#header .subscribe .error-message {
  display: none;
  color: #ed3c0d;
  text-align: center;
  padding: 10px;
  font-weight: 200;
}

#header .subscribe .sent-message {
  display: none;
  color: #18d26e;
  text-align: center;
  padding: 10px;
  font-weight: 300;
}

#header .subscribe .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

#header .subscribe .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading-notify 1s linear infinite;
  animation: animate-loading-notify 1s linear infinite;
}

@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#header .social-links {
  margin-top: 40px;
}

#header .social-links a {
  font-size: 16px;
  display: inline-block;
  color: var(--maroon);
  line-height: 1;
  padding-top: 14px;
  margin: 0 3px;
  border-radius: 50%;
  text-align: center;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border: 2px solid rgba(99, 1, 1, 0.5);
}

#header .social-links a:hover {
  background: var(--maroon);
  border: 2px solid rgba(7, 170, 199, 0.5);
  color: #fef4e8;
}

@media only screen and (max-width: 500px) {
  body{
    background: url(../img/background-images/phone.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  body{
    background: url(../img/background-images/Tab_p.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

  body{
    background: url(../img/background-images/Tab_l.png);
    
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 992px) and (orientation: landscape) {


  body{
    background: url(../img/background-images/laptop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}



/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
  body{
    background: url(../img/background-images/Tab_l.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}



/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
  body{
    background: url(../img/background-images/Tab_p.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
  body{
    background: url(../img/background-images/Tab_l.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}



/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
  body{
    background: url(../img/background-images/Tab_p.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
  body{
    background: url(../img/background-images/Tab_l.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  body{
    background: url(../img/background-images/Tab_l.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
  body{
    background: url(../img/background-images/Tab_p.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
  body{
    background: url(../img/background-images/Tab_l.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

}